<!DOCTYPE html>
<html>
  <head>
    <title>BookImplessions</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <ul>
      <li><%=link_to "一覧", books_path%></li>
      
    <%if current_user%>
      <li><%=link_to "新規投稿", new_book_path%></li>
      <li><%=link_to "ログアウト", logout_path,method: :delete%></li>
    <%else%>
      <li><%=link_to "ログイン",login_path%></li>
    <%end%>
    </ul>
  </header>
  <body>
    <%= yield %>
  </body>
</html>
